 @media (max-width:1080px) {
    
    .img-home{
        position: absolute;
        width: 100%;
      
    }

    .img-home img{
        width: 100%;
        height: 200%;
        margin-top: 50px;
    }

    .texts-home{
        width: 100%;
        margin-top: -100px;

    }

    #flores .container-flores{
        width: 100%;
    }

    #flores .box-superior{
         width: 80%;
     }
 


} 

@media (max-width:870px){

     .header-mobile .menu-mobile{
        width: 40%;
    }

     .sections-menu .link-menu{
        font-size: 1.0rem;
    }

    .mais-informacoes-flores .contato-flor{
        width: 366px;
    }

     #flores .container-flores{
        width: 100%;
        gap: 15px;
    }

      #flores .box-superior{
         width: 100%;
     }
 
   
}

 @media (max-width:710px) {
    .logo .nome-loja{
        width: 100%;
        font-size: 1.3rem;
    }

     .texts-home  .slogam {
        width: 80%;
        font-size: 1.8rem;
    }

    #flores .title-flores {
        width: 100%;
        font-size: 1.7rem;
    }

    .title-flores-icon img{
        display: none;
    }

     #flores{
        width: 100%;
        justify-content: center;
        align-items: center;
     }


     #flores .container-flores{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    #flores .mais-informacoes-flores{
        flex-direction: column;
     }

    .mais-informacoes-flores .contato-flor{
        width: 330px;
        height: 180px;
        font-size: 0.9rem;
    }

    .contato-flor .pagamento {
        font-size: 1rem;
    }
    .contato-flor img{
        width: 60px;
    }

     .footer{
        height: 12rem;
        padding: 5px ;
        gap: 10px;
     
    }
    .footer .informacoes-rodape{
        margin-top: -70px;
    }

} 

@media (max-width:600px){

    .header-mobile .menu-mobile{
        width: 40%;
    }

    .sections-menu .link-menu{
        font-size: 0.8rem;
    }

    .redes-menu .link-menu{
        font-size: 0.8rem;
    }

  #home .elements-home .texts-home{
        width: 90%;
        height: 300px;
        padding: 40px 0px;
    }

     .texts-home  .slogam {
        width: 80%;
        font-size: 1.6rem;
    }

    .btns-home{
        flex-direction: column;
    }
    .btns-home .btn-contato-home{
        width: 200px;
        font-size: 0.8rem;
    }

    .produtos-venda-decoracao .produto-venda{
        width: 150px;
    }


    .produto-venda .img-produto img{
        width: 120px;
        height: 160px;
    }

     #flores .container-flores{
        flex-direction: column;
     }


     .footer{
        height: 14rem;
        padding: 5px ;
     
    }
    .footer .informacoes-rodape{
        margin-top: -100px;
    }



}

@media (max-width:480px){

   #flores .img-fundo-flores{
        width: 180px;
    }

    #flores .box-superior .nome-flor{
        
        margin-top: -160px;
        margin-left: 110px;
    }

    #flores .valor-flor{
        font-size: 0.9rem;
        margin-left: 100px;
        margin-bottom: 110px;
    }

    #flores .btn-selecionar-flor{
        margin-bottom: 50px;
        margin-left: 70px;
    }

}

@media (max-width:365px){
    .header-mobile .menu-mobile{
        width: 60%;
    }

    #decoracao .title-decoracao h2{
        font-size: 1.7rem;
    }

    #flores .container-flores{
        width: 100%;
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #flores .title-flores span {
        font-size: 1.5rem;
    }
    #flores .title-flores {
        font-size: 1.7rem;
    }


    .valor-btn .valor-flor{
        font-size: 0.8rem;
    }


    .mais-informacoes-flores .contato-flor{
        width: 300px;
        height: 180px;
        font-size: 0.9rem;
    }

    #flores .icon-pagamento{
        width: 70%;
        flex-wrap: wrap;

    }

 #flores .icon-pagamento img{
    width: 30px;
 }

     .contato-flor .pagamento {
        font-size: 1rem;
        text-align: center;
    }

    #plantas .title-plantas{
        font-size: 1.5rem;
        width: 100%;
        height: 80px;
        text-align: center;
    }

    .footer{
        height: 17rem;
        padding: 5px ;
     
    }
    .footer .informacoes-rodape{
        margin-top: -130px;
    }
}